/*
	Package:rPebble-CSS
	Version: 0.0.1
	Build: dev
	Built: 2015-04-11 1:33:46 PM MDT 
*/

/* Variables */
/* Pebble Logo */
/* Snoo */
/* Pebble Banner */
/* Header */
/*new banner css*/
/* line 5, ../sass/_header.scss */
#header {
  background: url(%%pebble-banner%%) white center 12px no-repeat;
  height: 100px;
  position: relative;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  margin: 0px;
  padding: 0;
  border-bottom: none;
  width: 100%;
  z-index: 100;
}

/* end logo bar*/
/* line 21, ../sass/_header.scss */
#header-img-a {
  height: 61px !important;
  width: 49px !important;
  background: url(%%Snoo%%) no-repeat !important;
  position: absolute;
  left: 9px;
  bottom: 15px;
}

/* line 30, ../sass/_header.scss */
#header-img-a:hover {
  background-position: -49px 0px !important;
}

/* line 34, ../sass/_header.scss */
#header-img {
  display: none;
  width: 0;
  height: 0;
}

/* line 40, ../sass/_header.scss */
#header .tabmenu {
  position: absolute;
  bottom: 0;
}

/* line 45, ../sass/_header.scss */
#header-bottom-left .redditname {
  text-indent: -999px;
  color: white;
}

/* line 50, ../sass/_header.scss */
#header-bottom-left .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
  position: absolute;
  bottom: 15px;
  left: 60px;
}

/* line 61, ../sass/_header.scss */
.side .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
}

/* user panel*/
/* line 71, ../sass/_header.scss */
#header-bottom-right {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: white;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-left: 1px solid #676767;
  border-top: 1px solid #676767;
  border-right: 1px solid #676767;
}

/* tab buttons */
/* line 88, ../sass/_header.scss */
#header .tabmenu li a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  background: url(%%white-50percent%%) repeat;
}

/* line 95, ../sass/_header.scss */
#header .tabmenu li a:hover {
  color: #FF4500;
}

/* line 99, ../sass/_header.scss */
#header .tabmenu li.selected a:hover {
  background-color: #bbb;
}

/* Retina Assets */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 4, ../sass/_retina.scss */
  #header-img-a {
    height: 61px !important;
    width: 49px !important;
    background: url(%%Snoo2x%%) no-repeat !important;
    position: absolute;
    left: 8px;
    bottom: 15px;
    background-size: 200% !important;
  }

  /* line 13, ../sass/_retina.scss */
  #header-img-a:hover {
    background-position: -49px 0px !important;
  }

  /* line 16, ../sass/_retina.scss */
  #header-bottom-left .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    position: absolute;
    bottom: 15px;
    left: 60px;
    background-size: 100% !important;
  }

  /* line 27, ../sass/_retina.scss */
  .side .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    background-size: 100% !important;
  }

  /* line 35, ../sass/_retina.scss */
  #header {
    background: url(%%pebble-banner2x%%) white center center no-repeat;
    background-size: 1182px 100px !important;
    background-position: center 12px;
    height: 100px;
    position: relative;
  }
}
/* Submit Page */
/* push submission area down so that submission guidelines show up on top */
/* line 4, ../sass/_submit.scss */
.submit-page .formtabs-content .spacer:nth-child(2) {
  padding-top: 260px;
}

/* Move submission guidelines to the top */
/* line 9, ../sass/_submit.scss */
.submit-page .formtabs-content .spacer:nth-child(6) {
  position: absolute;
  top: 227px;
}

/* Fix link/text description height */
/* line 16, ../sass/_submit.scss */
.submit-page .formtabs-content #link-desc {
  padding-bottom: 21px;
}

/* line 20, ../sass/_submit.scss */
.submit_text {
  max-height: none;
}

/* Flair */
/* Default Flair */
/* line 5, ../sass/_flair.scss */
.flair {
  background: url(%%newflair%%) -9999px -9999px;
  background-repeat: no-repeat;
  padding: 0;
  min-width: 23px;
  max-width: 23px;
  height: 27px;
  overflow: hidden;
  text-indent: 34px;
  font-size: 10px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  border: none !important;
  transition: hover 0.3s ease-out;
  transition-delay: 0.15s;
  position: relative;
  color: transparent !important;
  /*transform: scale(0.5);*/
}

/* Show title for hover */
/* line 27, ../sass/_flair.scss */
.flair[title]:after {
  content: attr(title);
  position: absolute;
  color: #F4FAFF;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  top: 0px;
  left: -10px;
  background: white;
  box-shadow: 0px 1px 10px white;
  padding: 0px 5px;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
  text-indent: 0px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  transform: scale(0.8, 0.4);
  z-index: 9999;
  font-size: 150%;
}

/* line 48, ../sass/_flair.scss */
.flair[title]:before {
  bottom: 7px;
  left: 30px !important;
  box-shadow: 0px 0px 0px transparent !important;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: rgba(255, 255, 255, 0);
  border-width: 8px;
  margin-left: -10px;
  background-color: transparent !important;
  z-index: 9999;
}

/* line 63, ../sass/_flair.scss */
.flair[title]:hover:before, .flair[title]:hover:after, .flair[title]:active:before, .flair[title]:active:after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background: #FF4700;
  border-right-color: #FF4700;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0px 1px 0px rgba(46, 46, 44, 0.5);
  left: 35px;
  transition: all 0.3s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.05s, background-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s, border-right-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s;
}

/* line 75, ../sass/_flair.scss */
.flair[title=""]:hover:before {
  border-right-color: transparent;
}

/* line 76, ../sass/_flair.scss */
.flair:hover {
  overflow: visible;
  color: transparent;
  background-position-x: -23px !important;
  transition: none;
}

/* Flair Selection */
/* line 85, ../sass/_flair.scss */
.flairoptionpane .flair {
  background-position-x: -23px;
}

/* line 88, ../sass/_flair.scss */
.flairselector ul {
  overflow: visible;
  width: 35px !important;
}

/* line 92, ../sass/_flair.scss */
.flairoptionpane a.author {
  display: none;
}

/* line 95, ../sass/_flair.scss */
.flairselector li {
  width: 23px !important;
  float: left;
  border: none !important;
  padding: 1px;
}

/* line 101, ../sass/_flair.scss */
.flairoptionpane {
  max-height: none;
}

/* line 104, ../sass/_flair.scss */
.flairselector form button {
  margin-left: -52px;
  margin-top: 5px;
  display: inline-block;
}

/* line 109, ../sass/_flair.scss */
.flairselector .customizer {
  float: none !important;
}

/* line 112, ../sass/_flair.scss */
.customizer.texteditable {
  text-align: center;
  margin: auto auto;
  width: 186px;
}

/* line 117, ../sass/_flair.scss */
.flairselector .customizer input {
  margin-top: 5px;
}

/* line 120, ../sass/_flair.scss */
.flairoptionpane {
  background: url(%%pixelsun%%) no-repeat;
  background-size: cover;
}

/* line 124, ../sass/_flair.scss */
.flairselector h2 {
  background: white;
  font-size: 18px;
  font-weight: normal;
}

/* ---------- Flair colors ---------- */
/* line 132, ../sass/_flair.scss */
.flair-pebble-black {
  background-position: 0 0;
}

/* line 133, ../sass/_flair.scss */
.flair-pebble-black-ks {
  background-position: 0 -27px;
}

/* line 134, ../sass/_flair.scss */
.flair-pebble-white {
  background-position: 0 -54px;
}

/* line 135, ../sass/_flair.scss */
.flair-pebble-white-ks {
  background-position: 0 -81px;
}

/* line 136, ../sass/_flair.scss */
.flair-pebble-red {
  background-position: 0 -108px;
}

/* line 137, ../sass/_flair.scss */
.flair-pebble-red-ks {
  background-position: 0 -135px;
}

/* line 138, ../sass/_flair.scss */
.flair-pebble-orange {
  background-position: 0 -162px;
}

/* line 139, ../sass/_flair.scss */
.flair-pebble-orange-ks {
  background-position: 0 -189px;
}

/* line 140, ../sass/_flair.scss */
.flair-pebble-gray {
  background-position: 0 -216px;
}

/* line 141, ../sass/_flair.scss */
.flair-pebble-gray-ks {
  background-position: 0 -243px;
}

/* line 142, ../sass/_flair.scss */
.flair-pebble-hot {
  background-position: 0 -270px;
}

/* line 143, ../sass/_flair.scss */
.flair-pebble-fly {
  background-position: 0 -297px;
}

/* line 144, ../sass/_flair.scss */
.flair-pebble-fresh {
  background-position: 0 -324px;
}

/* line 145, ../sass/_flair.scss */
.flair-pebble-steel-black {
  background-position: 0 -351px;
}

/* line 146, ../sass/_flair.scss */
.flair-pebble-steel-stainless {
  background-position: 0 -378px;
}

/* line 147, ../sass/_flair.scss */
.flair-pebble-time-black {
  background-position: 0 -405px;
}

/* line 148, ../sass/_flair.scss */
.flair-pebble-time-black-ks {
  background-position: 0 -432px;
}

/* line 149, ../sass/_flair.scss */
.flair-pebble-time-red {
  background-position: 0 -459px;
}

/* line 150, ../sass/_flair.scss */
.flair-pebble-time-red-ks {
  background-position: 0 -486px;
}

/* line 151, ../sass/_flair.scss */
.flair-pebble-time-white {
  background-position: 0 -513px;
}

/* line 152, ../sass/_flair.scss */
.flair-pebble-time-white-ks {
  background-position: 0 -540px;
}

/* line 153, ../sass/_flair.scss */
.flair-pebble-time-steel-black {
  background-position: 0 -567px;
}

/* line 154, ../sass/_flair.scss */
.flair-pebble-time-steel-black-ks {
  background-position: 0 -594px;
}

/* line 155, ../sass/_flair.scss */
.flair-pebble-time-steel-silver {
  background-position: 0 -621px;
}

/* line 156, ../sass/_flair.scss */
.flair-pebble-time-steel-silver-ks {
  background-position: 0 -648px;
}

/* line 157, ../sass/_flair.scss */
.flair-pebble-time-steel-gold {
  background-position: 0 -675px;
}

/* line 158, ../sass/_flair.scss */
.flair-pebble-time-steel-gold-ks {
  background-position: 0 -702px;
}

/* ------------------------------
     Pebble flair
------------------------------ */
/* line 164, ../sass/_flair.scss */
.flairselector {
  width: 350px !important;
}

/* line 167, ../sass/_flair.scss */
.flairselector .customizer {
  /*display:none important;*/
  float: left;
  display: block;
  clear: both;
}

/* line 173, ../sass/_flair.scss */
.flairselector .customizer:before {
  content: "Enter your OS/Platform: (iOS/Android)";
  display: block;
  text-align: left;
}

/* line 178, ../sass/_flair.scss */
.flairselector button {
  display: block;
  clear: both;
  text-align: left;
}

/* ------------------------------
	Replace 'readers'
------------------------------ */
/* line 4, ../sass/_sidebar.scss */
div.titlebox span.subscribers span.word {
  display: none;
}

/* line 7, ../sass/_sidebar.scss */
div.titlebox span.subscribers span.number:after {
  content: " pebblers";
}

/* line 10, ../sass/_sidebar.scss */
div.titlebox p.users-online span.word {
  display: none;
}

/* line 13, ../sass/_sidebar.scss */
div.titlebox p.users-online span.number:after {
  content: " recent pebblers";
}

/*Curved box around Sidebar*/
/* line 19, ../sass/_sidebar.scss */
.titlebox {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #AAA;
  color: #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*turns the lists into menus*/
/* line 31, ../sass/_sidebar.scss */
.titlebox blockquote ul {
  float: right;
  padding: 1px;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  margin: 0px;
}

/*hide and styles lists*/
/* line 39, ../sass/_sidebar.scss */
.titlebox blockquote ul li {
  display: none;
  padding: 2px;
  text-align: center;
}

/*turns first paragraph into menu title*/
/* line 45, ../sass/_sidebar.scss */
.titlebox blockquote:first-child p:first-child {
  margin-top: 42px;
  padding: 5px;
  float: left;
  font-size: 1em;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  font-weight: bold;
  color: #555;
  cursor: default;
}

/*makes whole list item selectable*/
/* line 57, ../sass/_sidebar.scss */
.titlebox blockquote li a {
  display: block;
}

/*shows menu on hover*/
/* line 61, ../sass/_sidebar.scss */
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
  display: block;
}

/*turns top list item into section header*/
/* line 65, ../sass/_sidebar.scss */
.titlebox blockquote li:first-child {
  font-size: 1em;
  padding: 4px;
  cursor: default;
  color: #555;
}

/* announcements bar
------------------------------ */
/* Better post submit boxes. Small change but makes the subreddit feel more finished. */
/* line 77, ../sass/_sidebar.scss */
.sidebox.submit {
  width: 300px;
}

/* line 80, ../sass/_sidebar.scss */
.morelink {
  background-image: none;
}

/* line 83, ../sass/_sidebar.scss */
.sidebox.submit .morelink {
  border: 0;
  border-radius: 5px;
  padding: 0px 0px;
  height: 36px;
}

/* line 89, ../sass/_sidebar.scss */
.sidebox.submit .morelink:hover {
  background: none;
  border: none;
}

/* line 93, ../sass/_sidebar.scss */
.sidebox.submit .morelink a {
  font-size: 0px;
}

/* line 96, ../sass/_sidebar.scss */
.sidebox.submit .morelink .nub {
  display: none;
}

/* line 99, ../sass/_sidebar.scss */
.sidebox.create {
  display: none;
}

/* line 102, ../sass/_sidebar.scss */
.sidebox.submit.submit-link .morelink a {
  background: url(%%SubmitLink%%) no-repeat;
}

/* line 105, ../sass/_sidebar.scss */
.sidebox.submit.submit-link .morelink a:hover {
  background: url(%%SubmitLinkRoll%%) no-repeat;
}

/* line 108, ../sass/_sidebar.scss */
.sidebox.submit.submit-text .morelink a {
  background: url(%%SubmitText%%) no-repeat;
}

/* line 111, ../sass/_sidebar.scss */
.sidebox.submit.submit-text .morelink a:hover {
  background: url(%%SubmitTextRoll%%) no-repeat;
}

/* ------------------------------ 
	Thumbnails 
------------------------------ */
/* line 4, ../sass/_thumbnails.scss */
.thumbnail.default {
  background-image: url(%%nothumbnail%%) !important;
  background-repeat: no-repeat !important;
  height: 0 !important;
  width: 0 !important;
  background-position: 0px 0px;
  padding: 62px 0 0 63px !important;
}

/* line 12, ../sass/_thumbnails.scss */
a.thumbnail[href^='/r/pebble/'] {
  display: none;
}

/* line 15, ../sass/_thumbnails.scss */
a.thumbnail[href^='http://redd.it'], a.thumbnail[href^='http://reddit.com'], a.thumbnail[href^='http://www.reddit.com'] {
  display: none;
}
