/*
	Package:rPebble-CSS
	Version: 0.0.1
	Build: prod
	Built: 2015-04-13 8:49:27 AM MDT 
*/

/* Variables */
/* Pebble Logo */
/* Snoo */
/* Pebble Banner */
/* Header */
/*new banner css*/
#header {
  background: url(%%pebble-banner%%) white center 12px no-repeat;
  height: 100px;
  position: relative;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  margin: 0px;
  padding: 0;
  border-bottom: none;
  width: 100%;
  z-index: 100;
}

/* end logo bar*/
#header-img-a {
  height: 61px !important;
  width: 49px !important;
  background: url(%%Snoo%%) no-repeat !important;
  position: absolute;
  left: 9px;
  bottom: 15px;
}

#header-img-a:hover {
  background-position: -49px 0px !important;
}

#header-img {
  display: none;
  width: 0;
  height: 0;
}

#header .tabmenu {
  position: absolute;
  bottom: 0;
}

#header-bottom-left .redditname {
  text-indent: -999px;
  color: white;
}

#header-bottom-left .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
  position: absolute;
  bottom: 15px;
  left: 60px;
}

.side .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
}

/* user panel*/
#header-bottom-right {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: white;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-left: 1px solid #676767;
  border-top: 1px solid #676767;
  border-right: 1px solid #676767;
}

/* tab buttons */
#header .tabmenu li a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  background: url(%%white-50percent%%) repeat;
}

#header .tabmenu li a:hover {
  color: #FF4500;
}

#header .tabmenu li.selected a:hover {
  background-color: #bbb;
}

/* Retina Assets */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #header-img-a {
    height: 61px !important;
    width: 49px !important;
    background: url(%%Snoo2x%%) no-repeat !important;
    position: absolute;
    left: 8px;
    bottom: 15px;
    background-size: 200% !important;
  }

  #header-img-a:hover {
    background-position: -49px 0px !important;
  }

  #header-bottom-left .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    position: absolute;
    bottom: 15px;
    left: 60px;
    background-size: 100% !important;
  }

  .side .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    background-size: 100% !important;
  }

  #header {
    background: url(%%pebble-banner2x%%) white center center no-repeat;
    background-size: 1182px 100px !important;
    background-position: center 12px;
    height: 100px;
    position: relative;
  }
}
/* Submit Page */
/* push submission area down so that submission guidelines show up on top */
.submit-page .formtabs-content .spacer:nth-child(2) {
  padding-top: 260px;
}

/* Move submission guidelines to the top */
.submit-page .formtabs-content .spacer:nth-child(6) {
  position: absolute;
  top: 227px;
}

/* Fix link/text description height */
.submit-page .formtabs-content #link-desc {
  padding-bottom: 21px;
}

.submit_text {
  max-height: none;
}

/* Flair */
/* Default Flair */
.flair {
  background: url(%%newflair%%) -9999px -9999px;
  background-repeat: no-repeat;
  padding: 0;
  min-width: 23px;
  max-width: 23px;
  height: 27px;
  overflow: hidden;
  text-indent: 34px;
  font-size: 10px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  border: none !important;
  transition: hover 0.3s ease-out;
  transition-delay: 0.15s;
  position: relative;
  color: rgba(0, 0, 0, 0) !important;
  /*transform: scale(0.5);*/
}

/* Show title for hover */
.flair[title]:after {
  content: attr(title);
  position: absolute;
  color: #F4FAFF;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  top: 0px;
  left: -10px;
  background: white;
  box-shadow: 0px 1px 10px white;
  padding: 0px 5px;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
  text-indent: 0px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  transform: scale(0.8, 0.4);
  z-index: 9999;
  font-size: 150%;
}

.flair[title]:before {
  bottom: 7px;
  left: 30px !important;
  box-shadow: 0px 0px 0px transparent !important;
  border: solid rgba(0, 0, 0, 0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: rgba(255, 255, 255, 0);
  border-width: 8px;
  margin-left: -10px;
  background-color: transparent !important;
  z-index: 9999;
}

.flair[title]:hover:before, .flair[title]:hover:after, .flair[title]:active:before, .flair[title]:active:after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background: #FF4700;
  border-right-color: #FF4700;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0px 1px 0px rgba(46, 46, 44, 0.5);
  left: 35px;
  /*transition: all 0.3s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.05s, background-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s, border-right-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s;*/
}

.flair[title=""]:hover:before {
  border-right-color: transparent;
}

.flair:hover {
  overflow: visible;
  color: rgba(0, 0, 0, 0);
  background-position-x: -23px !important;
  transition: none;
}

/* ------------------------------
	Teampebble flair
------------------------------ */
.flair-teampebble {
  padding: 2px;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 70px !important;
  max-width: 70px !important;
  background: url(%%TeamPebble%%) no-repeat center !important;
  background-size: 100% !important;
}

.flair-teampebble:after {
  left: 75px !important;
}

.flair-teampebble[title]:hover:before {
  left: 69px !important;
}

.flair-teampebble:hover {
  background-position-x: 0px !important;
}

/* Flair Selection */
.flairoptionpane .flair {
  background-position-x: -23px;
}

.flairselector ul {
  overflow: visible;
  width: 35px !important;
}

.flairoptionpane a.author {
  display: none;
}

.flairselector li {
  width: 23px !important;
  float: left;
  border: none !important;
  padding: 1px;
}

.flairoptionpane {
  max-height: none;
}

.flairselector form button {
  margin-left: -52px;
  margin-top: 5px;
  display: inline-block;
}

.flairselector .customizer {
  float: none !important;
}

.customizer.texteditable {
  text-align: center;
  margin: auto auto;
  width: 186px;
}

.flairselector .customizer input {
  margin-top: 5px;
}

.flairoptionpane {
  background: url(%%pixelsun%%) no-repeat;
  background-size: cover;
}

.flairselector h2 {
  background: white;
  font-size: 18px;
  font-weight: normal;
}

/* ---------- Flair colors ---------- */
.flair-pebble-black {
  background-position: 0 0;
}

.flair-pebble-black-ks {
  background-position: 0 -27px;
}

.flair-pebble-white {
  background-position: 0 -54px;
}

.flair-pebble-white-ks {
  background-position: 0 -81px;
}

.flair-pebble-red {
  background-position: 0 -108px;
}

.flair-pebble-red-ks {
  background-position: 0 -135px;
}

.flair-pebble-orange {
  background-position: 0 -162px;
}

.flair-pebble-orange-ks {
  background-position: 0 -189px;
}

.flair-pebble-gray {
  background-position: 0 -216px;
}

.flair-pebble-gray-ks {
  background-position: 0 -243px;
}

.flair-pebble-hot {
  background-position: 0 -270px;
}

.flair-pebble-fly {
  background-position: 0 -297px;
}

.flair-pebble-fresh {
  background-position: 0 -324px;
}

.flair-pebble-steel-black {
  background-position: 0 -351px;
}

.flair-pebble-steel-stainless {
  background-position: 0 -378px;
}

.flair-pebble-time-black {
  background-position: 0 -405px;
}

.flair-pebble-time-black-ks {
  background-position: 0 -432px;
}

.flair-pebble-time-red {
  background-position: 0 -459px;
}

.flair-pebble-time-red-ks {
  background-position: 0 -486px;
}

.flair-pebble-time-white {
  background-position: 0 -513px;
}

.flair-pebble-time-white-ks {
  background-position: 0 -540px;
}

.flair-pebble-time-steel-black {
  background-position: 0 -567px;
}

.flair-pebble-time-steel-black-ks {
  background-position: 0 -594px;
}

.flair-pebble-time-steel-silver {
  background-position: 0 -621px;
}

.flair-pebble-time-steel-silver-ks {
  background-position: 0 -648px;
}

.flair-pebble-time-steel-gold {
  background-position: 0 -675px;
}

.flair-pebble-time-steel-gold-ks {
  background-position: 0 -702px;
}

/* ------------------------------
     Pebble flair
------------------------------ */
.flairselector {
  width: 350px !important;
}

.flairselector .customizer {
  /*display:none important;*/
  float: left;
  display: block;
  clear: both;
}

.flairselector .customizer:before {
  content: "Enter your OS/Platform: (iOS/Android)";
  display: block;
  text-align: left;
}

.flairselector button {
  display: block;
  clear: both;
  text-align: left;
}

/* ------------------------------
	Replace 'readers'
------------------------------ */
div.titlebox span.subscribers span.word {
  display: none;
}

div.titlebox span.subscribers span.number:after {
  content: " pebblers";
}

div.titlebox p.users-online span.word {
  display: none;
}

div.titlebox p.users-online span.number:after {
  content: " recent pebblers";
}

/*Curved box around Sidebar*/
.titlebox {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #AAA;
  color: #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*turns the lists into menus*/
.titlebox blockquote ul {
  float: right;
  padding: 1px;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  margin: 0px;
}

/*hide and styles lists*/
.titlebox blockquote ul li {
  display: none;
  padding: 2px;
  text-align: center;
}

/*turns first paragraph into menu title*/
.titlebox blockquote:first-child p:first-child {
  margin-top: 42px;
  padding: 5px;
  float: left;
  font-size: 1em;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  font-weight: bold;
  color: #555;
  cursor: default;
}

/*makes whole list item selectable*/
.titlebox blockquote li a {
  display: block;
}

/*shows menu on hover*/
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
  display: block;
}

/*turns top list item into section header*/
.titlebox blockquote li:first-child {
  font-size: 1em;
  padding: 4px;
  cursor: default;
  color: #555;
}

/* announcements bar
------------------------------ */
/* Better post submit boxes. Small change but makes the subreddit feel more finished. */
.sidebox.submit {
  width: 300px;
}

.morelink {
  background-image: none;
}

.sidebox.submit .morelink {
  border: 0;
  border-radius: 5px;
  padding: 0px 0px;
  height: 36px;
}

.sidebox.submit .morelink:hover {
  background: none;
  border: none;
}

.sidebox.submit .morelink a {
  font-size: 0px;
}

.sidebox.submit .morelink .nub {
  display: none;
}

.sidebox.create {
  display: none;
}

.sidebox.submit.submit-link .morelink a {
  background: url(%%SubmitLink%%) no-repeat;
}

.sidebox.submit.submit-link .morelink a:hover {
  background: url(%%SubmitLinkRoll%%) no-repeat;
}

.sidebox.submit.submit-text .morelink a {
  background: url(%%SubmitText%%) no-repeat;
}

.sidebox.submit.submit-text .morelink a:hover {
  background: url(%%SubmitTextRoll%%) no-repeat;
}

/* ------------------------------ 
	Thumbnails 
------------------------------ */
.thumbnail.default {
  background-image: url(%%nothumbnail%%) !important;
  background-repeat: no-repeat !important;
  height: 0 !important;
  width: 0 !important;
  background-position: 0px 0px;
  padding: 62px 0 0 63px !important;
}

a.thumbnail[href^='/r/pebble/'] {
  display: none;
}

a.thumbnail[href^='http://redd.it'], a.thumbnail[href^='http://reddit.com'], a.thumbnail[href^='http://www.reddit.com'] {
  display: none;
}
