/*
	Package:rPebble-CSS
	Version: 0.0.1
	Build: prod
	Built: 2014-05-01 2:12:28 PM MDT 
*/

/* Variables */
/* Pebble Logo */
/* Snoo */
/* Pebble Banner */
/* Header */
/*new banner css*/
/* line 5, ../sass/_header.scss */
#header {
  background: url(%%pebble-banner%%) white center center no-repeat;
  height: 100px;
  position: relative;
  -moz-box-shadow: 0px 0px 10px #888;
  -webkit-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
  margin: 0px;
  padding: 0;
  border-bottom: none;
  width: 100%;
  z-index: 100;
}

/* end logo bar*/
/* line 21, ../sass/_header.scss */
#header-img-a {
  height: 61px !important;
  width: 49px !important;
  background: url(%%Snoo%%) no-repeat !important;
  position: absolute;
  left: 9px;
  bottom: 15px;
}

/* line 30, ../sass/_header.scss */
#header-img-a:hover {
  background-position: -49px 0px !important;
}

/* line 34, ../sass/_header.scss */
#header-img {
  display: none;
  width: 0;
  height: 0;
}

/* line 40, ../sass/_header.scss */
#header .tabmenu {
  position: absolute;
  bottom: 0;
}

/* line 45, ../sass/_header.scss */
#header-bottom-left .redditname {
  text-indent: -999px;
  color: white;
}

/* line 50, ../sass/_header.scss */
#header-bottom-left .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
  position: absolute;
  bottom: 15px;
  left: 60px;
}

/* line 61, ../sass/_header.scss */
.side .redditname a {
  background: url(%%pebble-logo%%) no-repeat !important;
  display: block;
  width: 206px !important;
  height: 58px !important;
  text-indent: -9999px;
}

/* user panel*/
/* line 71, ../sass/_header.scss */
#header-bottom-right {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: white;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  border-left: 1px solid #676767;
  border-top: 1px solid #676767;
  border-right: 1px solid #676767;
}

/* tab buttons */
/* line 88, ../sass/_header.scss */
#header .tabmenu li a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0;
  background: url(%%white-50percent%%) repeat;
}

/* line 95, ../sass/_header.scss */
#header .tabmenu li a:hover {
  color: #FF4500;
}

/* line 99, ../sass/_header.scss */
#header .tabmenu li.selected a:hover {
  background-color: #bbb;
}

/* Retina Assets */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 4, ../sass/_retina.scss */
  #header-img-a {
    height: 61px !important;
    width: 49px !important;
    background: url(%%Snoo2x%%) no-repeat !important;
    position: absolute;
    left: 8px;
    bottom: 15px;
    background-size: 200% !important;
  }

  /* line 13, ../sass/_retina.scss */
  #header-img-a:hover {
    background-position: -49px 0px !important;
  }

  /* line 16, ../sass/_retina.scss */
  #header-bottom-left .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    position: absolute;
    bottom: 15px;
    left: 60px;
    background-size: 100% !important;
  }

  /* line 27, ../sass/_retina.scss */
  .side .redditname a {
    background: url(%%pebble-logo2x%%) no-repeat !important;
    display: block;
    height: 58px !important;
    width: 206px !important;
    text-indent: -9999px;
    background-size: 100% !important;
  }

  /* line 35, ../sass/_retina.scss */
  #header {
    background: url(%%pebble-banner2x%%) white center center no-repeat;
    background-size: 1182px 100px !important;
    height: 100px;
    position: relative;
  }
}
/* Submit Page */
/* push submission area down so that submission guidelines show up on top */
/* line 4, ../sass/_submit.scss */
.submit-page .formtabs-content .spacer:nth-child(2) {
  padding-top: 260px;
}

/* Move submission guidelines to the top */
/* line 9, ../sass/_submit.scss */
.submit-page .formtabs-content .spacer:nth-child(6) {
  position: absolute;
  top: 227px;
}

/* Fix link/text description height */
/* line 16, ../sass/_submit.scss */
.submit-page .formtabs-content #link-desc {
  padding-bottom: 21px;
}

/* line 20, ../sass/_submit.scss */
.submit_text {
  max-height: none;
}

/* Flair */
/* ------------------------------ 
	Teampebble flair 
------------------------------ */
/* line 6, ../sass/_flair.scss */
.flair-teampebble {
  padding: 2px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 5px;
}

/* ------------------------------ 
	AlexX3's flair
------------------------------ */
/* line 17, ../sass/_flair.scss */
.flair-alexfunston {
  padding: 2px;
  background-color: pink;
  color: black;
  text-align: center;
  border-radius: 5px;
}

/* ------------------------------ 
	Pebble flair 
------------------------------ */
/* line 28, ../sass/_flair.scss */
.flairselector .customizer {
  display: none !important;
}

/* line 32, ../sass/_flair.scss */
.flair-pebble {
  border: none !important;
  padding: 0px;
  background: url(%%Flair2%%) no-repeat -9999px -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-bottom: -4px;
}

/* line 42, ../sass/_flair.scss */
.flair-pebble-red {
  background-position: 0 0;
}

/* line 46, ../sass/_flair.scss */
.flair-pebble-black {
  background-position: 0 -16px;
}

/* line 50, ../sass/_flair.scss */
.flair-pebble-white {
  background-position: 0 -32px;
}

/* line 54, ../sass/_flair.scss */
.flair-pebble-orange {
  background-position: 0 -48px;
}

/* line 58, ../sass/_flair.scss */
.flair-pebble-grey {
  background-position: 0 -64px;
}

/* line 62, ../sass/_flair.scss */
.flair-pebble-steel-black {
  background-position: 0 -80px;
}

/* line 66, ../sass/_flair.scss */
.flair-pebble-steel-silver {
  background-position: 0 -96px;
}

/* ------------------------------ 
	Replace 'readers' 
------------------------------ */
/* line 4, ../sass/_sidebar.scss */
div.titlebox span.subscribers span.word {
  display: none;
}

/* line 7, ../sass/_sidebar.scss */
div.titlebox span.subscribers span.number:after {
  content: " pebblers";
}

/* line 10, ../sass/_sidebar.scss */
div.titlebox p.users-online span.word {
  display: none;
}

/* line 13, ../sass/_sidebar.scss */
div.titlebox p.users-online span.number:after {
  content: " recent pebblers";
}

/*Curved box around Sidebar*/
/* line 19, ../sass/_sidebar.scss */
.titlebox {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #AAA;
  color: #000;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/*turns the lists into menus*/
/* line 31, ../sass/_sidebar.scss */
.titlebox blockquote ul {
  float: right;
  padding: 1px;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  margin: 0px;
}

/*hide and styles lists*/
/* line 39, ../sass/_sidebar.scss */
.titlebox blockquote ul li {
  display: none;
  padding: 2px;
  text-align: center;
}

/*turns first paragraph into menu title*/
/* line 45, ../sass/_sidebar.scss */
.titlebox blockquote:first-child p:first-child {
  margin-top: 42px;
  padding: 5px;
  float: left;
  font-size: 1em;
  background: #eff7ff;
  border: 1px solid #cee3f8;
  font-weight: bold;
  color: #555;
  cursor: default;
}

/*makes whole list item selectable*/
/* line 57, ../sass/_sidebar.scss */
.titlebox blockquote li a {
  display: block;
}

/*shows menu on hover*/
/* line 61, ../sass/_sidebar.scss */
.titlebox blockquote ul li:first-child, .titlebox blockquote ul:hover li {
  display: block;
}

/*turns top list item into section header*/
/* line 65, ../sass/_sidebar.scss */
.titlebox blockquote li:first-child {
  font-size: 1em;
  padding: 4px;
  cursor: default;
  color: #555;
}

/* announcements bar
------------------------------ */
/* Better post submit boxes. Small change but makes the subreddit feel more finished. */
/* line 77, ../sass/_sidebar.scss */
.sidebox.submit {
  width: 300px;
}

/* line 80, ../sass/_sidebar.scss */
.sidebox.submit .morelink {
  background: #FF4700;
  border: 0;
  border-radius: 5px;
  padding: 2px 0px;
}

/* line 86, ../sass/_sidebar.scss */
.sidebox.submit .morelink:hover {
  background: #cc3900;
}

/* line 89, ../sass/_sidebar.scss */
.sidebox.submit .morelink a {
  color: #FFFFFF;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0px;
}

/* line 98, ../sass/_sidebar.scss */
.sidebox.submit .morelink .nub {
  display: none;
}

/* line 101, ../sass/_sidebar.scss */
.sidebox.create {
  display: none;
}

/* ------------------------------ 
	Thumbnails 
------------------------------ */
/* line 4, ../sass/_thumbnails.scss */
.thumbnail.default {
  background-image: url(%%nothumbnail%%) !important;
  background-repeat: no-repeat !important;
  height: 0 !important;
  width: 0 !important;
  background-position: 0px 0px;
  padding: 62px 0 0 63px !important;
}

/* line 12, ../sass/_thumbnails.scss */
a.thumbnail[href^='/r/pebble/'] {
  display: none;
}

/* line 15, ../sass/_thumbnails.scss */
a.thumbnail[href^='http://redd.it'], a.thumbnail[href^='http://reddit.com'], a.thumbnail[href^='http://www.reddit.com'] {
  display: none;
}
