/* Flair */

/* Default Flair */
.flair {
  background:url(%%newflair%%) -9999px -9999px;
  background-repeat: no-repeat;
  padding: 0;
  min-width: 23px;
  max-width: 23px;
  height: 27px;
  overflow: hidden;
  text-indent: 34px;
  font-size: 10px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
  border: none!important;
  transition: hover 0.3s ease-out;
  transition-delay: 0.15s;
  position: relative;
  color: rgba(0,0,0,0)!important;
  /*transform: scale(0.5);*/
}

/* Show title for hover */
.flair[title]:after {
  content: attr(title);
  position: absolute;
  color: #F4FAFF;
  font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
  top: 0px;
  left: -10px;
  background: white;
  box-shadow: 0px 1px 10px white;
  padding: 0px 5px;
  border-radius: 3px;
  white-space: nowrap;
  visibility: hidden;
  pointer-events: none;
  text-indent: 0px;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  transform: scale(0.8,0.4);
  z-index: 9999;
  font-size: 150%;
}
.flair[title]:before {
  bottom: 7px;
  left: 30px!important;
  box-shadow: 0px 0px 0px transparent!important;
  border: solid rgba(0,0,0,0);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: rgba(255,255,255,0);
  border-width: 8px;
  margin-left: -10px;
  background-color: transparent!important;
  z-index: 9999;
}
.flair[title]:hover:before, .flair[title]:hover:after, .flair[title]:active:before, .flair[title]:active:after {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  background: #FF4700;
  border-right-color: #FF4700;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0px 1px 0px rgba(46,46,44,0.5);
  left: 35px;
  /*transition: all 0.3s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.05s, background-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s, border-right-color 0.45s cubic-bezier(0.1, 0.235, 0.215, 1.195) 0.1s;*/
}
.flair[title=""]:hover:before {border-right-color: transparent;}
.flair:hover {
overflow: visible; color: rgba(0,0,0,0);
background-position-x: -23px !important;
transition: none;
}

/* ------------------------------
	Teampebble flair
------------------------------ */
.flair-teampebble {
  padding: 2px;
  color: white;
  text-align: center;
  border-radius: 5px;
  width: 70px !important;
  max-width: 70px !important;
  background: url(%%TeamPebble%%) no-repeat center !important;
  background-size: 100% !important;
}
.flair-teampebble:after {
  left: 75px !important;
}
.flair-teampebble[title]:hover:before {
  left: 69px !important;

}
.flair-teampebble:hover {
  background-position-x: 0px !important;
}

/* Flair Selection */

.flairoptionpane .flair {
  background-position-x: -23px;
}
.flairselector ul {
  overflow:visible;
  width: 35px !important;
}
.flairoptionpane a.author {
  display: none;
}
.flairselector li {
width: 23px !important;
float:left;
border: none !important;
padding: 1px;
}
.flairoptionpane {
  max-height: none;
}
.flairselector form button {
  margin-left: -52px;
  margin-top: 5px;
  display: inline-block;
}
.flairselector .customizer {
  float: none !important;
}
.customizer.texteditable {
  text-align: center;
  margin: auto auto;
  width: 186px;
}
.flairselector .customizer input {
  margin-top: 5px;
}
.flairoptionpane {
  background: url(%%pixelsun%%) no-repeat;
  background-size: cover;
}
.flairselector h2 {
  background: white;
  font-size: 18px;
  font-weight: normal;
}


/* ---------- Flair colors ---------- */
.flair-pebble-black {background-position: 0 0;}
.flair-pebble-black-ks {background-position: 0 -27px;}
.flair-pebble-white {background-position: 0 -54px;}
.flair-pebble-white-ks {background-position: 0 -81px;}
.flair-pebble-red {background-position: 0 -108px;}
.flair-pebble-red-ks {background-position: 0 -135px;}
.flair-pebble-orange {background-position: 0 -162px;}
.flair-pebble-orange-ks {background-position: 0 -189px;}
.flair-pebble-gray {background-position: 0 -216px;}
.flair-pebble-gray-ks {background-position: 0 -243px;}
.flair-pebble-hot {background-position: 0 -270px;}
.flair-pebble-fly {background-position: 0 -297px;}
.flair-pebble-fresh {background-position: 0 -324px;}
.flair-pebble-steel-black {background-position: 0 -351px;}
.flair-pebble-steel-stainless {background-position: 0 -378px;}
.flair-pebble-time-black {background-position: 0 -405px;}
.flair-pebble-time-black-ks {background-position: 0 -432px;}
.flair-pebble-time-red {background-position: 0 -459px;}
.flair-pebble-time-red-ks {background-position: 0 -486px;}
.flair-pebble-time-white {background-position: 0 -513px;}
.flair-pebble-time-white-ks {background-position: 0 -540px;}
.flair-pebble-time-steel-black {background-position: 0 -567px;}
.flair-pebble-time-steel-black-ks {background-position: 0 -594px;}
.flair-pebble-time-steel-silver {background-position: 0 -621px;}
.flair-pebble-time-steel-silver-ks {background-position: 0 -648px;}
.flair-pebble-time-steel-gold {background-position: 0 -675px;}
.flair-pebble-time-steel-gold-ks {background-position: 0 -702px;}


/* ------------------------------
     Pebble flair
------------------------------ */
.flairselector {
    width: 350px !important;
}
.flairselector .customizer {
     /*display:none important;*/
    float: left;
    display: block;
    clear: both;
}
.flairselector .customizer:before {
    content: "Enter your OS/Platform: (iOS/Android)";
    display: block;
    text-align: left;
}
.flairselector button {
    display: block;
    clear: both;
    text-align:left;

}
