/* Header */

/*new banner css*/

#header {
    background: url(%%pebble-banner%%) white center 12px no-repeat;
    height: 100px;
    position: relative;
    -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    margin: 0px;
    padding: 0;
    border-bottom: none;
    width: 100%;
    z-index: 100;
}

/* end logo bar*/

#header-img-a {
    height: 61px !important;
    width: 49px !important;
    background: url(%%Snoo%%) no-repeat !important;
    position: absolute;
    left: 9px;
    bottom: 15px;
}

#header-img-a:hover {
    background-position: -49px 0px !important;
}

#header-img {
    display: none;
    width: 0;
    height: 0;
}

#header .tabmenu {
    position: absolute;
    bottom: 0;
}

#header-bottom-left .redditname {
    text-indent: -999px;
    color: white;
}

#header-bottom-left .redditname a {
    background: url(%%pebble-logo%%) no-repeat !important;
    display: block;
    width: 206px !important;
    height: 58px !important;
    text-indent: -9999px;
    position: absolute;
    bottom: 15px;
    left: 60px;
}

.side .redditname a {
    background: url(%%pebble-logo%%) no-repeat !important;
    display: block;
    width: 206px !important;
    height: 58px !important;
    text-indent: -9999px;
}

/* user panel*/

#header-bottom-right {
    position: absolute;
    bottom: 0;
    height: 15px;
    background-color: white;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-right-radius: 7px;
    border-left: 1px solid #676767;
    border-top: 1px solid #676767;
    border-right: 1px solid #676767;
}

/* tab buttons */
#header .tabmenu li a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 0;
    background: url(%%white-50percent%%) repeat;
}

#header .tabmenu li a:hover {
    color: #FF4500;
}

#header .tabmenu li.selected a:hover {
    background-color: #bbb;
}
