/* Variables */

/* Pebble Logo */
$pebbleLogoHeight: 58px;
$pebbleLogoWidth: 206px;

/* Snoo */
$pebbleSnooHeight: 61px;
$pebbleSnooWidth: 49px;

/* Pebble Banner */
$pebbleBannerHeight: 100px;
$pebbleBannerWidth: 1182px;